<!-- コメント一覧（解説詳細ページにレンダー） -->

<div id="comments_index">
  <!-- 解説に付いたコメント一覧 -->
  <% comments.each do |comment| %>

    <!-- コメント編集時ここにnoticeを表示する為のid -->
    <div id="for_this_comment">
      <div class="comment-content" id="this_comment_<%= comment.id %>"></div>
    </div>

    <p>
      <!-- コメント投稿者 -->
      <%= link_to comment.user.name, user_path(comment.user) %>
      <!-- コメント投稿時間 -->
      <%= comment.created_at.strftime("%F %R") %>

      <!-- 編集ボタンは投稿者及び管理者へ表示 -->
      <% if current_user == comment.user || current_user.try(:admin?) %>
        <%= link_to "編集", edit_term_description_comment_path(@term, @description, comment), remote: true %>
      <% end %>
      <!-- 削除ボタンは管理者へのみ表示 -->
      <% if current_user.try(:admin?) %>
        <%= link_to "削除", term_description_comment_path(@term, @description, comment), method: :delete, remote: true, data: { confirm: "本当に削除しますか?"} %>
      <% end %>

      <!-- 投稿者には編集削除ボタン表示 -->
      <% if comment.user == current_user %>
        <%= link_to "編集", edit_term_description_comment_path(@term, @description, comment), remote: true %>
        <%= link_to "削除", term_description_comment_path(@term, @description, comment), method: :delete, remote: true, data: { confirm: "本当に削除しますか?"} %>
      <% end %>
    </p>

    <!-- コメント本文 -->
    <p><%= simple_format comment.content %></p>

    <!-- コメントへの返信フォームを表示する為のボタン（未ログイン時は非表示） -->
    <% if user_signed_in? %>
      <p class="reply"><%= link_to "返信する", new_term_description_comment_path(@term, @description, comment: comment, id: comment.id), remote: true %></p>
    <% end %>

    <!-- ここに返信フォームがレンダーされる -->
    <div id="for_this_comment2">
      <div class="comment-content" id="this_comment2_<%= comment.id %>"></div>
    </div>

    <!-- 返信完了時に返信一覧を更新する為のid -->
    <div id="for_this_comment3">
      <div class="reply-index" id="this_comment3_<%= comment.id %>">
        <!-- コメントへの返信一覧をレンダーしている -->
        <%= render partial: 'comments/reply_index', locals: { comments: comment.replies, description: @description } %>
      </div>
    </div>

    <hr>
  <% end %>
</div>
