<!-- コメント毎の返信一覧（解説詳細ページにレンダーされているコメント一覧ページにレンダー） -->

<div id="replies_index">
  <!-- 返信一覧 -->
  <% comments.order(created_at: :asc).each do |comment| %>
    <% if comment.id.present? %>
      <div id="each_reply">

        <!-- ここに編集フォームをレンダーする -->
        <div id="for_this_comment4">
          <div class="comment-content" id="this_comment4_<%= comment.id %>"></div>
        </div>

        <p>
          <!-- 返信投稿者名 -->
          <%= comment.user.name %>
          <!-- 返信投稿日時 -->
          <%= comment.created_at.strftime("%F %R") %>

          <!-- 編集ボタンは投稿者及び管理者へ表示 -->
          <% if current_user == comment.user || current_user.try(:admin?) %>
            <%= link_to "編集", edit_term_description_comment_path(@term, @description, comment), remote: true %>
          <% end %>
          <!-- 削除ボタンは管理者へのみ表示 -->
          <% if current_user.try(:admin?) %>
            <%= link_to "削除", term_description_comment_path(@term, @description, comment), method: :delete, remote: true, data: { confirm: "本当に削除しますか?"} %>
          <% end %>
        </p>

        <!-- 返信本文 -->
        <p><%= simple_format comment.content %></p>

      </div>
    <% end %>
  <% end %>
</div>
