<!-- コメント一覧の返信ボタンから出る返信用フォーム -->

<!-- FLASH用。編集、返信時が優先。 -->
<% if notice %>
  <div id="comment_index_notice" class="comment_notice"><%= notice %></div>
<% end %>

<%= form_with(model: [term, description, reply]) do |f| %>

  <div id="reply_error_area"></div>
  
  <ul class="form reply_form">
    <div class="reply_content">
      <li><%= f.text_area :content %></li>
    </div>     
    <%= f.hidden_field :parent_id, value: comment.id %> <!-- ちとよくわかんない -->
    <div class="submit reply_submit">      
      <li><%= f.submit "登録", id: "reply_submit" %></li>
    </div>  
  </ul>
<% end %>
