<%= form_with(model: @term, local: true, url: new_or_edit) do |form| %>
  <% if @term.errors.any? %>
    <div id="eroor=explanation">
      <h2><%= "#{@term.errors.count}件のエラーを確認して下さい" %></h2>
      <ul>
        <% @term.errors.full_messages.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ul>  
    </div>
  <% end %>
  <ul class="form term_form">
    <div class="term_genre">
      <li><%= form.label "ジャンル選択" %></li>
      <li><%= form.select :genre_id, @genres.map { |g| [g.name, g.id]}, {include_blank: '該当なし'}, class: 'form term_form' %></li>
    </div>     
    <div class="term_name">
      <li><%= form.label "用語を入力して下さい" %></li>    
      <li><%= form.text_field :name %></li>
    </div>     
    <div class="submit term_submit">      
      <li><%= form.submit "登録" %></li>
    </div>  
  </ul>
<% end %>
