<%= form_with(model: show_or_not) do |f| %>
  <div class="modal-body">
    <div id="term-error-area">
      <div id="error_explanation">
        <%= render partial: 'shared/message', locals: { term: @term } %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label "Termを入力して下さい。" %>    
      <%= f.text_field :name %>
    </div>     
    <div class="form-group">
      <%= f.label "ジャンル選択" %>
      <%= f.select :genre_id, @genres.map { |g| [g.name, g.id]}, {include_blank: '該当なし'}, class: 'form term_form' %>
    </div> 
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
    <%= f.submit "登録", class: "btn btn-primary", id: "modal_error_resurrection" %>
  </div>
<% end %>

