<!-- Termの一覧ページ -->
<h2 class="section-title mb30">検索結果</h2>
<%= paginate @search_terms %>
<% @search_terms.each do |term| %>
  <div class="term-title-wrap">
    <!-- キープアイコン -->
    <% if user_signed_in? %>
      <div id="keep_section_<%= term.id %>">
        <%= render partial: "keeps/keep2", locals: { term: term } %>
      </div>
    <% end %>
    <!-- Term名 -->
    <p class="term-title2"><%= link_to term.name, term_path(term) %></p>
    <!-- Termのジャンル名 -->
    <div class="genre-name">
      <% if term.genre.present? %>
        (<%= link_to term.genre.name, genre_path(term.genre) %>)
      <% else %>
        <%= "(未指定)" %>
      <% end %>
    </div>
    <!-- 投稿者には編集ボタン表示 -->
    <div class="term-edit">
      <% if term.user == current_user %>
        <%= link_to "編集", edit_term_path(term) %>
      <% end %>
    </div>
  </div>
  <!-- Termのタグ一覧 -->
  <% term.tags.each do |tag| %>
    <span class="tag">
      <%= link_to tag.name, genre_tag_path(tag.genre, tag) %>
    </span>
  <% end %>
  <!-- 付いた解説数 -->
  <p class="numbers-of-description"><%= link_to "解説(#{term.descriptions.count})", term_path(term, anchor: "descriptions-list") %></p>
  <hr>
<% end %>
<%= paginate @search_terms %>


