<ul>
  <% @terms.each do |term| %>
    <li class="term-name">
      <%= link_to "#{term.name}", term_path(term) %>
      <% if term.genre.present? %>
        <%= "(#{term.genre.name})" %>
      <% else %>
        <%= "(ジャンル選択なし)" %>
      <% end %>
    </li>
    <li class="tag-list">
      <%= "〜タグ一覧〜" %>
    </li>
    <li class="description-numbers">
      <%= "解説(#{term.descriptions.count})" %>
    </li>
    <br>
  <% end %>
</ul>
