<!-- Termの一覧ページ -->

<ul>
  <% @search_terms.each do |term| %>
    <!-- Term名 -->
    <li class="term-name">
      <!-- キープアイコン -->
      <% if current_user %>
        <% if current_user.already_keeped?(term) %>
          <i class="fas fa-star"></i>
        <% else %>
          <i class="far fa-star"></i>
        <% end %>
      <% end %>
      <h2>
        <%= link_to "#{term.name}", term_path(term) %>
      </h2>
      <!-- 投稿者には編集ボタン表示 -->
      <% if term.user == current_user %>
        <%= link_to "編集", edit_term_path(term) %>
      <% end %>
    </li>
    <!-- Termのジャンル名 -->
    <li class="genre-name">
      <% if term.genre.present? %>
        <%= "(#{term.genre.name})" %>
      <% else %>
        <%= "(ジャンル選択なし)" %>
      <% end %>
    </li>
    <!-- そのジャンルのタグリスト -->
    <li class="tag-list">
      <% term.tags.each do |tag| %>
        <%= link_to tag.name, genre_tag_path(tag.genre, tag), class:"btn btn-primary border-dark text-white btn-sm" %>
      <% end %>
    </li>
    <!-- 付いた解説の数 -->
    <li class="description-numbers">
      <%= link_to "解説(#{term.descriptions.count})", term_path(term, anchor: "descriptions-list") %>
    </li>
    <hr>
  <% end %>
</ul>
