<% if @term.genre.present? %>
  <%= "(#{@term.genre.name})" %>
<% else %>
  <%= "(ジャンル指定なし)" %>
<% end %>        
<br>
<% @term.tags.each do |tag| %>
  <%= link_to tag.name, genre_tag_path(tag.genre, tag), class:"btn btn-primary border-dark text-white btn-sm" %>
<% end %>
<%= link_to "タグ付けする", edit_term_path(@term) %>
<h1><%= @term.name %></h1>とは
<%= link_to "編集", edit_term_path(@term) %>
<p><%= link_to "解説する", new_term_description_path(@term) %></p>

<!--現在は作成者にも権限与えなくていいと判断。
<% if current_user && @term.user_id == current_user.id %>
  <%= link_to "編集", edit_term_path(@term) %>
  <%= link_to "削除", term_path(@term), method: :delete, data: {confirm: "「#{@term.name}」を削除してよろしいですか？"} %>
<% end %>
いずれ管理者にのみ権限付与する予定。-->
<div id="descriptions-list">
  <% @descriptions.each do |description| %>
    <hr>
    <p><%= @term.name %>とは</p>
    <p>
      <%= description.created_at.strftime("%F %R") %>
      <% if description.user == current_user %>
        <%= link_to "編集", edit_term_description_path(@term, description) %>
        <%= link_to "削除", term_description_path(@term, description), method: :delete, data: {confirm: "解説を削除してよろしいですか？"} %>
      <% end %>
    </p> 
    <p>
      <%= simple_format description.content.truncate(100) %>
      <%= link_to "全て見る", term_description_path(@term, description) %>
    </p>
  <% end %>
</div>
