<!-- Termの詳細ページ -->

<!-- Termのジャンル名 -->
<% if @term.genre.present? %>
  <%= "(#{@term.genre.name})" %>
<% else %>
  <%= "(ジャンル未指定)" %>
<% end %>
<!-- Termに付いたタグ一覧 -->
<% @term.tags.each do |tag| %>
  <%= link_to tag.name, genre_tag_path(tag.genre, tag), class:"btn btn-primary border-dark text-white btn-sm" %>
  <%= link_to "外す", term_tagging_path(@term, tag), method: :delete, data: {confirm: "タグを外してよろしいですか？"} %>
<% end %>
<!-- Term名 -->
<h1><%= @term.name %></h1>
<!-- Term投稿者 -->
<% if @term.user.present? %>
  <p>作成者:<%= link_to @term.user.name, user_path(@term.user_id) %></p>
<% end %>
<!-- キープ -->
<div id="keep_section">
  <%= render partial: "keeps/keep", locals: { term: @term } %>
</div>
<!-- タグ付け用タグリスト（未ログイン時はログイン画面へ） -->
<% if Tag.where(genre_id: @term.genre_id).where.not(id: @term.tags.ids).count != 0 %>
  <%= render "taggings/form" %>
<% else %>  
  <%= "（タグ付けできるタグはこれ以上ありません。）" %>
<% end %>

<p>
  <!-- 編集ボタンは投稿者及び管理者へ表示 -->
  <% if current_user == @term.user || current_user.try(:admin?) %>
    <%= link_to "編集", edit_term_path(@term) %>
  <% end %>
  <!-- 削除ボタンは管理者へのみ表示 -->
  <% if current_user.try(:admin?) %>
    <%= link_to "削除", term_path(@term), method: :delete, data: {confirm: "Termを削除してよろしいですか？"} %>
  <% end %>
</p>

<!-- 解説作成へのリンク（未ログイン時はログイン画面へ） -->
<p><%= link_to "解説する", new_term_description_path(@term) %></p>

<div id="descriptions-list">
  <!-- Termに付いた解説リスト -->
  <% @descriptions.each do |description| %>
    <hr>
    <h2><%= @term.name %>とは</h2>
    <p>
      <!-- いいねアイコン -->
      <% if current_user %>
        <% if current_user.already_liked?(description) %>
          <i class="fas fa-heart"></i>
        <% else %>
          <i class="far fa-heart"></i>
        <% end %>
      <% end %>
      <!-- 解説作成日時 -->
      <%= description.created_at.strftime("%F %R") %>
      <!-- 投稿者には編集削除権限 -->
      <% if description.user == current_user %>
        <%= link_to "編集", edit_term_description_path(@term, description) %>
        <%= link_to "削除", term_description_path(@term, description), method: :delete, data: {confirm: "解説を削除してよろしいですか？"} %>
      <% end %>
    </p> 
    <p>
      <!-- 解説本文を一定文字数表示 -->
      <%= simple_format description.content.truncate(100) %>
      <!-- 解説本文を全表示へのリンク -->
      <%= link_to "全て見る", term_description_path(@term, description) %>
    </p>
  <% end %>
</div>
