<h1><%= link_to @term.name, term_path(@term) %></h1>とは
<p>
  <%= @description.created_at.strftime("%F %R") %>
  <% if @description.user == current_user %>
    <%= link_to "編集", edit_term_description_path(@term, @description) %>
    <%= link_to "削除", term_description_path(@term, @description), method: :delete, data: {confirm: "解説を削除してよろしいですか？"} %>
  <% end %>
</p>
<p><%= simple_format @description.content %></p>
<hr>
