<%= form_with(model: @tag, local: true, url: tag_new_or_edit) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <p><%= "#{@tag.errors.count}件のエラーがあります。" %></p>
      <ol>
        <% @tag.errors.full_messages.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ol>  
    </div>
  <% end %>
  <ul class="form tag_form tag-edit-form">
    <div class="tag_name">
      <li><%= f.text_field :name %></li>
    </div>     
    <div class="submit tag_submit">      
      <li><%= f.submit "登録" %></li>
    </div>  
  </ul>
<% end %>
