<%= form_with(model: @tagging, local: true, url: term_taggings_path(@term), method: :post	) do |f| %>
  <% if @tagging.errors.any? %>
    <div id="error_explanation">
      <p><%= "#{@tagging.errors.count}件のエラーがあります。" %></p>
      <ol>
        <% @tagging.errors.full_messages.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ol>  
    </div>
  <% end %>
  <ul class="form tagging_form">   
    <div class="tagging_tag">
      <li><%= f.select :tag_id, Tag.where(genre_id: @term.genre_id).where.not(id: @term.tags.ids).map { |t| [t.name, t.id]}, include_blank: '', multiple: true  %></li>
    </div> 
    <div class="submit tagging_submit">      
      <li><%= f.submit "タグ付けする" %></li>
    </div>  
  </ul>
<% end %>
