<!DOCTYPE html>
<html>
  <head>
    <title>DontUseSuchAJargon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <h1><%= link_to "DON'T USE SUCH A JARGON", root_path %></h1>
        <% if user_signed_in? %>
            <strong><%= "ようこそ、#{current_user.name}さん！" %></strong>
            <%= link_to 'マイページ', user_path(current_user.id) %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <% else %>
            <%= link_to 'ログイン', new_user_session_path %>
            <%= link_to 'サインアップ', new_user_registration_path %>
        <% end %>
      </nav>

      <ul class="search-box">
        <%= search_form_for @search, url: terms_path do |f| %>
          <li><%= f.search_field :name_cont ,placeholder: '検索するテキストを入力...' %></li>
          <li><%= f.submit ("検索") , class: 'search-btn'%></li>
        <% end %>
      </ul>
      <div class="content">
        <p class="js-modal-open-search"><%= link_to "詳細検索" %></p>
      </div>
      <div class="modal js-modal-search">
        <div class="modal__bg js-modal-close-search"></div>
        <div class="modal__content">
          <ul class="search-box">
            <%= search_form_for @search, url: terms_path do |f| %>
              <li><%= f.label :name_cont, "用語名から" %></li>
              <li><%= f.search_field :name_cont ,placeholder: '検索するテキストを入力...' %></li>
              <li><%= f.label :descriptions_content_cont, "解説から" %></li>
              <li><%= f.search_field :descriptions_content_cont ,placeholder: '検索するテキストを入力...' %></li>
              <li><%= f.label :genre_id, "ジャンル選択" %>
              <li><%= f.collection_select :genre_id_eq, Genre.all, :id, :name, :include_blank => '指定なし' %>        
              <li><%= f.submit ("検索") , class: 'search-btn'%></li>
            <% end %>
            <div class="js-modal-close-btn">
              <a class="js-modal-close-search" href="">閉じる</a>
            </div>
          </ul>
        </div>
      </div>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        用語を登録
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">用語登録</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <%= render "terms/form" %>
          </div>
        </div>
      </div>

      <!-- 前のモーダル部分。新しいのがうまくいけば消す
      <div class="content">
        <p class="js-modal-open-term-new"><%= link_to "用語を登録" %></p>
      </div>
      <div class="modal js-modal-term-new">
        <div class="modal__bg js-modal-close-term-new"></div>
          <div class="modal__content">
            <%= render "terms/form" %>
            <div class="js-modal-close-btn">
              <a class="js-modal-close-term-new" href="">閉じる</a>
            </div>
          </div>
        </div>     
      </div>
       -->
    </header>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <aside>
    </aside>
    
    <%= yield %>
  </body>
</html>
